#nav-bar {
  background-color: #414658;
  width: 200px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
#nav-bar .fa-xmark {
  transition: all 0.3s;
}
#nav-bar ul li {
  padding: 20px 8px 20px 32px;
}
#nav-bar ul li .nav-link {
  text-decoration: none;
  color: white;
  transition: all 0.3s;
}
#nav-bar ul li:hover .nav-link,
#nav-bar .fa-xmark:hover {
  color: rgba(214, 46, 51, 0.4) !important;
}
#home .home-bg {
  background-image: url(../images/events-heavenly-header.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 550px;
  position: relative;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(214, 46, 51, 0.6);
}
h1 {
  font-size: 50px;
  font-weight: 400;
}
.layer span{
    font-size:30px;
    cursor:pointer;
    transform: translate(0, -100%);
}

/* duration */

.main{
    transition: all 0.5s;
    padding: 16px;
}
.singers h3{
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: rgba(214, 46, 51, 0.6);
    cursor: pointer;
    font-size: 24px !important;
}
.singers p{
    padding: 10px;
    background-color: #ccc;
    font-size: 11px;
    margin: 0;
    text-align: center;
}

/* detailes */

.details-bg{
    background-image: url(../images/invitation-2508607__340.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 280px;
}
.countdow div div{
    padding: 50px;
    border: 1px solid #FFF;
}
.countdow div div h3{
    font-size: 22px;
    display: block;
}

/* contact */

.tele {
    font-size: 0.85em;
}
.tele p{
    margin-bottom: 30px;
}
.tele i{
    margin-right: 20px;
    color: #777;
}
.con-social i{
    margin-right: 10px;
    border: 1px solid #999;
    width: 35px;
    height: 35px;
    line-height: 37px;
    cursor: pointer;
    text-align: center;
    color: #777;
}
